.row.center-xs.middle-xs
  .col-xs-8.col-md-8.col-md-6.col-lg-6
    .mdl-card.mdl-shadow--2dp.padding.full-width.big-margin-top
      h2.margin-h Regístrate
      hr
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .row.center-xs
          .col-xs-8.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            = f.email_field :email, autofocus: true, id: "email", class: "mdl-textfield__input"
            = f.label :email, class: "mdl-textfield__label", for: "email"
          .col-xs-8.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            = f.password_field :password, autocomplete: "off", id: "password", class: "mdl-textfield__input"
            = f.label :password, class: "mdl-textfield__label", for: "password"
            - if @minimum_password_length
              span
                em
                  = @minimum_password_length
                  | &nbsp;
                  | caracteres mínimo
          .col-xs-8.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            = f.password_field :password_confirmation, autocomplete: "off", id: "password_conf", class: "mdl-textfield__input"
            = f.label :password_confirmation, class: "mdl-textfield__label", for: "password_conf"
          .col-xs-8
            = f.submit "Registrarme", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
      .row.center-xs
        .col-xs-8
          .margin-top.text-center
            = render "devise/shared/links"