.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
  header.mdl-layout__header
    .mdl-layout__header-row
      span.mdl-layout-title
        = link_to root_path, class: "title-header"
          = image_tag 'TichLogoBlanco.png', width: "180px"
      .mdl-layout-spacer
      nav.mdl-navigation
        - if user_signed_in?
          span
            | Bienvenido 
            = current_user.email
          a.mdl-navigation__link href="#" Artículos
        - else
          = link_to "Ingresa", new_user_session_path, class: 'mdl-navigation__link'
          = link_to "Regístrate", new_user_registration_path, class: 'mdl-navigation__link'