.row.center-xs.middle-xs
  .col-xs-8.col-md-8.col-md-6.col-lg-6
    .mdl-card.mdl-shadow--2dp.padding.full-width.big-margin-top
      h2.margin-h Ingresa
      hr
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .row.center-xs
          .col-xs-8.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            = f.email_field :email, autofocus: true, id: "email", class: "mdl-textfield__input"
            = f.label :email, class: "mdl-textfield__label", for: "email"
          .col-xs-8.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            = f.password_field :password, autocomplete: "off", id: "password", class: "mdl-textfield__input"
            = f.label :password, class: "mdl-textfield__label", for: "password"
          .col-xs-8
            = f.submit "Ingresar", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
        .row.center-xs
          .col-xs-8
            - if devise_mapping.rememberable?
              .col-xs-8.margin-top.text-left
                label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect for="remember"
                  = f.check_box :remember_me, id: "remember", class: "mdl-checkbox__input"
                  span.mdl-checkbox__label Recuérdame
      .row.center-xs
        .col-xs-8
          .margin-top.text-left
            = render "devise/shared/links"
