/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require flexboxgrid
 *= require material
 *= require material_icons
 */

 body
   background-color #F5F5F5
  
// Helpers
.big-margin-top
  margin-top 25px
.full-width
  width 100% !important
.margin-h
  margin 10px 0
.margin-top
  margin-top 15px
.padding
  padding 15px
.text-left
  text-align left
.text-right
  text-align right
.text-center
  text-align center
.text-justify
  text-align justify

// Google Material Lite
.mdl-layout__header
  background-color #43a047 !important
  padding 5px 0 !important
.mdl-layout__drawer-button
  margin-top 15px !important

// Others
.background-green
  background #1b5e20 !important
.link-devise
  color #43A047
  text-decoration none