doctype html
html
  head
    title Tich
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    .mdl-layout.mdl-js-layout
      = render "snippets/header_menu"

      - if user_signed_in?
        = render "snippets/side_menu"

      main.mdl-layout__content
        .page-content
          - if notice
            p.notice
              = notice
          - elsif alert
            p.alert
              = alert
          div style="margin-top:70px;"
            = yield